
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tweet Stats</h1>
</div>
<div class="text-center" style="margin-top:80px; margin-bottom:50px;">
    <button class="btn btn-info btn-xlg" type="button" onclick="location.href='@Url.Action("LoadStats","Home")'">Load Stats</button>
</div>
<div class="text-center">
    <p>Please ensure that you have entered your credentials in the <b>appsettings.json</b> file within the <b>TwitterAPIDemo</b> project</p>
</div>




